.chessboard-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 400px;
    height: 400px;
    background-color: rgb(222, 222, 222);
}

.tile {
    width: calc(400px / 8);
    height: calc(400px / 8);
    background-color: rgb(255, 255, 255);
}